* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}



.section {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 800px;
    text-align: center;
}

.section-image {
    width: auto;
    height: auto;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
}
.image2{
    float: right;
}
.image1{
    float: left;
}
.content1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #4cae4c;
}

/* Animations */
.reveal {
    opacity: 0;
    transform: translateY(20px);
    animation: reveal 1s forwards;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInLeft 1s forwards;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(20px);
    animation: fadeInRight 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        align-items: center;
        flex-direction: column;
        
        background: #333;
        top: 60px;
        right: 0;
        width: 100%;
    }
    .navbar{
        align-items: center;
        flex-direction: column;
    }
    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .section {
        flex-direction: column;
    }

    .section-image {
        max-width: 100%;
    }
}